@model LMSWeb.ViewModel.TblUserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial;
    }

    /* Style tab links */
    .tablink {
        background-color: darkblue;
        color: white;
        float: left;
        border: solid white;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }

        .tablink:hover {
            background-color: darkblue;
            color:black;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: black;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }
    #Home {
        background-color: red;
    }

    #dvmanageuser {
        background-color: white;
    }

    #dvprofile {
        background-color: white;
    }

    #dvUpdateStages {
        background-color: white;
    }

</style>
@using (Html.BeginForm("UpdateUser", "AdminSettings", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmupdateUser", @class = "multisteps-form__form" }))
{

    
    <button type="button" class="tablink" onclick="openPage('dvprofile', this,'darkblue')" id="defaultOpen">profile</button>
    <button type="button"class="tablink" onclick="openPage('dvmanageuser', this,'orange')">Manage User</button>
    <button type="button" class="tablink" onclick="openPage('dvUpdateStages', this,'red')">Update Stages</button>

    <div id="dvmanageuser" class="tabcontent">
        @Html.Partial("~/Views/AdminSettings/_ManageUser.cshtml",Model)
    </div>

    <div id="dvUpdateStages" class="tabcontent">
        @*@Html.Partial("~/Views/AdminSettings/_UpdateStages.cshtml",Model)*@
    </div>

    <div id="dvprofile" class="tabcontent">
        @Html.Partial("~/Views/AdminSettings/_UserProfile.cshtml", Model)

    </div>
    } 
    <script>
        $(document).ready(function () {
           

            $('#btnUsersubmit').on("click", function () {
                UpdateToDB();
            });
            $('#btnProfilePic').on("click", function () {
                $('#file').click();
            });

        });
        function UpdateToDB() {

           
            var data = $('#frmupdateUser').serialize();
                console.log(data);
                $.ajax({
                    url: $('#frmupdateUser').attr('action'),
                    type: 'post',
                    dataType: "html",
                    data: data,
                    success: function (data) {
                        console.log(data)
                        if (data == "True") {
                            toastr.success("user Updated");
                            //console.log(sucess);

                        }
                        else {
                            toastr.error('error occured while adding data');
                        }
                    }
                });
            }
        function show(input) {
          //  console.log(input);
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#user_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
               // $("#user_img").val(input.files[0]);
                
               
            }
        }
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            console.log(tabcontent);
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
                // console.log('inside');
            }
           //  Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

           //  Show the specific tab content
            document.getElementById(pageName).style.display = "block";

           //  Add the specific color to the button used to open the tab content
              elmnt.style.backgroundColor = color;
        }

       //  Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>



