@model LMSWeb.ViewModel.CRMNotesViewModel


<div div class="multisteps-form__panel shadow p-4 list-box bg-white" data-animation="scaleIn">
   
        <div id="dvClientNotes" class="col-sm-12">


            @if (Model.lstNotes != null)
            {
                if (Model.lstNotes.Count > 0)
                {
                    <div class="row justify-content-center h-100">
                        <div class="col   add-user-section ">
                            <div style="margin-bottom:10px;"><b>Previous Comments -</b></div>
                            @foreach (var item in Model.lstNotes)
                            {
                                <div>
                                    <div>
                                        <div style="margin-left:40px;">

                                            <i class="fa fa-clock-o" aria-hidden="true"></i> @item.CreatedDate
                                        </div>

                                    </div>
                                    <div>

                                        <div style="margin-left:40px;">@Html.Raw(item.Notes)</div>
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>
                    </div>
                }
            }
        </div>

    </div>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>

<script>
       // $('#txtReply').summernote();

   

    </script>
